<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1> ejs anh duy nguyen khuat</h1>
    <div> <img class="anhduy" src="/images/5c30d2321cbf8705151804ae90c98036740f6d79b09ceb1ff551321694915583.png" alt=""> </div>
</body>
</html>