<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="./css/style.css">
    
</head>

<body>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/create">Create User</a></li>
    </ul>
    <table id="customers">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>City</th>
      </tr>
      <tr>
        <td>nguyeen khuat anh duy</td>
        <td>anhduygnuyenkhuat@gmail.com</td>
        <td>000000009</td>
        <td>sai gon</td>
      </tr>
      
    </table>
</body>
</html>